/* CSS BY EINNA SILMONE */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    font-family: playfair display;
    width: 100vw;
}

/* GLOBAL STYLES (mobile first/small) */
main{
    display: block;
    align-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--linen);
}

header img{
    width: 50vw;
}

header p{
    font-size: 1em;
    font-style: italic;
    padding: 1.8em 1em;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
}

p{
    font-size: 1em;
}

nav{
    text-align: center;
    font-size: 1em;
    background-color: var(--champagne-gold);
    padding: .5em;
}

nav a{
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
    justify-content: space-between;
}

nav a:hover{
    text-decoration: underline;
}

nav ul{
    justify-content: space-between;
}

nav li{
    display: inline-block;
    font-size: 1.3em;
    padding: .2em;
}

h2{
    color: var(--midnight-blue);
    font-size: 1.5em;
    font-weight: bold;
    padding: .5em;
    padding-left: 0;
}

h3{
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
}

#about{
    margin: 0 auto;
    padding: .5em;
    border-bottom: solid 2px var(--champagne-gold);
}

#about p{
    line-height: 15px;
    padding: .2em;
    padding-left: 0;
    line-height: 1.5em;
}

#offerings{
    padding-bottom: 1em;
    margin: 0 auto;
    border-bottom: solid 2px var(--champagne-gold);
}

#offerings h3, #offerings p, #offerings li{
    color: var(--soft-white);
}

div{
    background-color: var(--olive-green);
    border-radius: 15px;
    padding: .5em;
    margin: .5em;
    font-size: 1em;
    box-shadow: 3px 3px 3px;
}

div h3{
    padding-top: 1em;
    padding-bottom: .5em;
}

div p{
    font-size: .7em;
    line-height: 15px;
    padding: .5em;
}

#gallery{
    border-bottom: solid 2px var(--champagne-gold);

}

gallery h2{
    padding: 0;
}

#gallery p{
    padding: .5em;
    padding-bottom: 1em;
}

#gallery section{
    box-shadow: var(--dark-charcoal) 2px 2px 3px;
    border-radius: 15px;
    margin-bottom: 1em;
}

#gallery img{
    width: 90vw;
    border-radius: 15px;
}

#gallery h3{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: .8em;
    padding: 1em;
}

#gallery a{
    display: block;
    text-align: center;
    justify-self:center;
    width: 85vw;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--linen);
    background-color: var(--olive-green);
    border-radius: 15px;
    padding: 1em;
    margin: .5em;
}

#gallery a:hover{
    background-color: var(--champagne-gold);
    color: var(--midnight-blue);
}

footer{
    background-color: var(--midnight-blue);
    text-align: center;
}

address{
    color: var(--linen);
    padding: 1em;
}

footer a{
    text-decoration: none;
    color: var(--champagne-gold);
    font-size: 1em;
}



/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    #offerings{
        display: grid;
        grid-template-columns: auto auto;
    }
    #grid-item-2, #grid-item-3{
        grid-row: 2 / 3;
    }
    #grid-item-4{
        grid-row: 4/ 5;
        grid-column: 1 / 3;
    }
    #gallery img, .gallery-img{
        max-width: 35vw;
    }
    .gallery-img{
        margin: .5em;
    }
    #gallery{
        max-width: 100vw;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
}

/* MEDIA QUERY (large) */
@media screen and (min-width: 900px){

}

/* MEDIA QUERY (xl) */
@media screen and (min-width: 1200px){
    main{
        width: 70vw;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 4.5em;
    }
    header img{
        width: 30vh;
    }
    p{
        font-size: 1em;
    }
    #about{
        max-width: 70vw;
        margin: 0 auto;
        border-bottom: solid 2px var(--champagne-gold);
    }
    #offerings{
        max-width: 70vw;
        height: 50vh;
    }
    #gallery{
        max-width: 70vw;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto;
        margin: 0 auto;
    }
    #gallery h2{
        grid-row: 1 / 2;
        grid-column: 1 / 6;
    }
    #gallery p{
        grid-row: 2 / 3;
        grid-column: 1 / 6;
    }
    #gallery img, .gallery-img{
        max-width: 12vw;
    }
    .gallery-img{
        margin: 1em;
    }
    #gallery a{
        max-width: 70vw;
        grid-row: 4 / 5;
        grid-column: 1 / 6;
    }
    
}